@model Capstone.Models.SchedulerViewModel

@{
    ViewData["Title"] = "CompanyView";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<h2>Scheduled @Model.Scheduler.Type</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
           
        </tr>
}
    </tbody>
</table>
