@model Capstone.Models.SchedulerViewModel

@{
    ViewData["Title"] = "CompanyView";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<h2>CompanyView</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.LastName)
            </th>d
            <th>
                @Html.DisplayNameFor(model => model.Event.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
