@model Capstone.Models.SchedulerViewModel
@{
    ViewData["Title"] = "CustomerView";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<h2>Schedule @Model.Scheduler.Type</h2>
@using (Html.BeginForm())
{
<div class="container">
    <div class="col-md-4" style="background-color:lightslategray">
        <div>
            @Html.EditorFor(e => e.Event.StartTime)
            <label asp-for="@Model.Event.StartTime" class="control-label"></label>
            <span asp-validation-for="Event.StartTime" class="text-danger"></span>
            <br />
        </div>
        <div>
            @Html.EditorFor(e => e.Event.FirstName)
            <label asp-for="@Model.Event.FirstName" class="control-label"></label>
            <span asp-validation-for="Event.FirstName" class="text-danger"></span>
            <br />
        </div>
        <div>
            @Html.EditorFor(e => e.Event.LastName)
            <label asp-for="@Model.Event.LastName" class="control-label"></label>
            <span asp-validation-for="Event.LastName" class="text-danger"></span>
            <br />
        </div>
        <div>
            @Html.EditorFor(e => e.Event.Notes)
            <label asp-for="@Model.Event.Notes" class="control-label"></label>
            <span asp-validation-for="Event.Notes" class="text-danger"></span>
            <br />
        </div>
        @Html.HiddenFor(x => x.Comp.Id)
        <button type="submit" class="btn btn-primary">Schedule</button>
    </div>

</div>
}