@model Capstone.Models.ContactViewModel
@{
    ViewData["Title"] = "ContactPage";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
@{
    var bootstrap = "col-sm-12";
    if (Model.Comp.ContactChoice)
    {
        bootstrap = "col-sm-6";
    }

}@if (Model.Comp.CreatorId == Model.UserId)
{
    <div><button class="btn btn-primary" type="button" id="editMode">Edit Mode</button></div>
}

    <div class="container">
        <div class="@bootstrap">
            @{
                foreach (var cont in Model.Containers)
                {
                    var contImg = "";
                    if (cont.Image != null)
                    {
                        var base64 = Convert.ToBase64String(cont.Image);
                        contImg = String.Format("data:image/gif;base64,{0}", base64);
                        <div class="col-sm-12" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                    }
                    else
                    {
                        <div class="col-sm-12" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                    }
                    <button class="editButton btn btn-primary" style="display:none" id="@cont.DivSection" onclick="location.href ='@Url.Action("EditContactContainer", "CompanyContact", new { id = Model.Comp.Id, divSection = cont.DivSection})'">Edit</button>

                }
            }
        </div>
        @using (Html.BeginForm())
        {
            @if (Model.Comp.ScheduleChoice)
            {
                <div class="@bootstrap" style="background-color:lightslategray">
                    <h4>
                        Send Email
                    </h4>
                    <div>
                        <label class="control-label">Name</label>
                        <input type="text" name="name" />
                    </div>
                    <div>
                        <label class="control-label">Comments</label>
                        <textarea name="comments" rows="8" style="width:100%"></textarea>
                    </div>
                    
                    @Html.HiddenFor(x => x.Comp.Id)
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            }
            @if (Model.Comp.CreatorId == Model.UserId)
            {
                <script>
                    document.getElementById("editMode").addEventListener("click", function () {

                        var buttons = document.getElementsByClassName("editButton");
                        if (buttons[0].style.display == "none") {
                            for (i = 0; i < buttons.length; i++) {
                                buttons[i].style.display = "block";
                            }
                        }
                        else {
                            for (i = 0; i < buttons.length; i++) {
                                buttons[i].style.display = "none";
                            }
                        }

                    });

                </script>
                }
            }

        </div>
