@model Capstone.Models.AboutViewModel
@{
    ViewData["Title"] = "AboutPage";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

@{
    string bootContainers1 = "col-sm-6";
    string bootContainers2 = "col-sm-12";
}


<div class="container" style="padding-top:6%">
    @if (Model.Comp.CreatorId == Model.UserId)
    {
        <button type="button" class="btn btn-primary"id="editMode">Edit Mode</button>
    }
        <div class="row">
            @{
                if (Model.About.ContainerType == "1" || Model.About.ContainerType == "2" || Model.About.ContainerType == "3")
                {
                    foreach (var cont in Model.Containers)
                    {
                        var contImg = "";
                        if (cont.Maps)
                        {
                            <div id="map" class="@bootContainers2">
                                <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                </script>
                                <script async defer
                                        src="@Model.Comp.srcKey">
                                </script>
                            </div>
                        }
                        else if (cont.Twitter)
                        {
                            <div class="@bootContainers2">
                                @{
                                    string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                }
                                <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                @*How to generate the href attribute from the users twitter url?*@
                            </div>
                        }
                        else if (cont.Image != null)
                        {
                            var base64 = Convert.ToBase64String(cont.Image);
                            contImg = String.Format("data:image/gif;base64,{0}", base64);
                            <div class="@bootContainers2" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                        }
                        else
                        {
                            <div class="@bootContainers2" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                        }
                        <button class="editButton btn btn-primary" style="display:none" id="@cont.DivSection" onclick="location.href ='@Url.Action("EditAboutContainer", "CompanyAbout", new { id = Model.Comp.Id, divSection = cont.DivSection})'">Edit</button>

                    }
                }
                else if (Model.About.ContainerType == "4")
                {
                    foreach (var cont in Model.Containers)
                    {
                        if (cont.DivSection == 1)
                        {
                            var contImg = "";

                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers2">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers2">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers2" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers2" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }
                        }
                        else
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers1">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers1">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers1" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers1" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }
                        }
                        <button class="editButton btn btn-primary" style="display:none" id="@cont.DivSection" onclick="location.href ='@Url.Action("EditAboutContainer", "CompanyAbout", new { id = Model.Comp.Id, divSection = cont.DivSection})'">Edit</button>
                    }
                }
                else if (Model.About.ContainerType == "5")
                {
                    foreach (var cont in Model.Containers)
                    {
                        if (cont.DivSection == 3)
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers2">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers2">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers2" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers2" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }
                        }
                        else
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers1">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers1">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers1" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers1" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }

                        }
                        <button class="editButton btn btn-primary" style="display:none" id="@cont.DivSection" onclick="location.href ='@Url.Action("EditAboutContainer", "CompanyAbout", new { id = Model.Comp.Id, divSection = cont.DivSection})'">Edit</button>

                    }
                }
                else if (Model.About.ContainerType == "6")
                {
                    foreach (var cont in Model.Containers)
                    {
                        if (cont.DivSection == 3 || cont.DivSection == 4)
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers2">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers2">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers2" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers2" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }
                        }
                        else
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers1">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers1">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers1" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers1" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }

                        }
                        <button class="editButton btn btn-primary" style="display:none" id="@cont.DivSection" onclick="location.href ='@Url.Action("EditAboutContainer", "CompanyAbout", new { id = Model.Comp.Id, divSection = cont.DivSection})'">Edit</button>

                    }
                }
                else if (Model.About.ContainerType == "7")
                {
                    foreach (var cont in Model.Containers)
                    {
                        if (cont.DivSection == 1 || cont.DivSection == 4)
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers2">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers2">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers2" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers2" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }
                        }
                        else
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers1">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers1">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers1" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers1" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }
                        }
                        <button class="editButton btn btn-primary" style="display:none" id="@cont.DivSection" onclick="location.href ='@Url.Action("EditAboutContainer", "CompanyAbout", new { id = Model.Comp.Id, divSection = cont.DivSection})'">Edit</button>
                    }
                }
                else if (Model.About.ContainerType == "8")
                {
                    foreach (var cont in Model.Containers)
                    {
                        if (cont.DivSection == 1 || cont.DivSection == 2)
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers2">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers2">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers2" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers2" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }
                        }
                        else
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers1">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers1">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers1" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers1" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }
                        }
                        <button class="editButton btn btn-primary" style="display:none" id="@cont.DivSection" onclick="location.href ='@Url.Action("EditAboutContainer", "CompanyAbout", new { id = Model.Comp.Id, divSection = cont.DivSection})'">Edit</button>
                    }
                }
                else if (Model.About.ContainerType == "9")
                {
                    foreach (var cont in Model.Containers)
                    {
                        if (cont.DivSection == 5)
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers2">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers2">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers2" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers2" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }
                        }
                        else
                        {
                            var contImg = "";
                            if (cont.Maps)
                            {
                                <div id="map" class="@bootContainers1">
                                    <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                    </script>
                                    <script async defer
                                            src="@Model.Comp.srcKey">
                                    </script>
                                </div>
                            }
                            else if (cont.Twitter)
                            {
                                <div class="@bootContainers1">
                                    @{
                                        string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                    }
                                    <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*How to generate the href attribute from the users twitter url?*@
                                </div>
                            }
                            else if (cont.Image != null)
                            {
                                var base64 = Convert.ToBase64String(cont.Image);
                                contImg = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="@bootContainers1" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                            }
                            else
                            {
                                <div class="@bootContainers1" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                            }
                        }
                        <button class="editButton btn btn-primary" style="display:none" id="@cont.DivSection" onclick="location.href ='@Url.Action("EditAboutContainer", "CompanyAbout", new { id = Model.Comp.Id, divSection = cont.DivSection})'">Edit</button>
                    }
                }
                else if (Model.About.ContainerType == "10")
                {
                    foreach (var cont in Model.Containers)
                    {
                        var contImg = "";
                        if (cont.Maps)
                        {
                            <div id="map" class="@bootContainers1">
                                <script>

                        function initMap() {
                            var myLatLng = { lat: @Model.Comp.Lat, lng: @Model.Comp.Long };

                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                    });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                                </script>
                                <script async defer
                                        src="@Model.Comp.srcKey">
                                </script>
                            </div>
                        }
                        else if (cont.Twitter)
                        {
                            <div class="@bootContainers1">
                                @{
                                    string twitterLink = "https://twitter.com/" + Model.Comp.Twitter + "?ref_src=twsrc%5Etfw";
                                }
                                <a class="twitter-timeline" data-height="500" href="@twitterLink"></a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                @*How to generate the href attribute from the users twitter url?*@
                            </div>
                        }
                        else if (cont.Image != null)
                        {
                            var base64 = Convert.ToBase64String(cont.Image);
                            contImg = String.Format("data:image/gif;base64,{0}", base64);
                            <div class="@bootContainers1" style="min-height:200px;width=100%:200px;background-image:Url(@contImg) ;background-size:cover"></div>
                        }
                        else
                        {
                            <div class="@bootContainers1" style="white-space:pre-line;background-color:@cont.BgColor;text-align:@cont.Align;color:@cont.Color;font-size:@cont.FontSize;font-family:@cont.Font">@cont.Text</div>
                        }
                        <button class="editButton btn btn-primary" style="display:none" id="@cont.DivSection" onclick="location.href ='@Url.Action("EditAboutContainer", "CompanyAbout", new { id = Model.Comp.Id, divSection = cont.DivSection})'">Edit</button>

                    }
                }
            }
        </div>
    @if (Model.Comp.CreatorId == Model.UserId)
    {
        <script>
            document.getElementById("editMode").addEventListener("click", function () {

                var buttons = document.getElementsByClassName("editButton");
                if (buttons[0].style.display == "none") {
                    for (i = 0; i < buttons.length; i++) {
                        buttons[i].style.display = "block";
                    }
                }
                else {
                    for (i = 0; i < buttons.length; i++) {
                        buttons[i].style.display = "none";
                    }
                }

            });

        </script>
    }
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 500px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</div>
