@model Capstone.Models.SetupViewModel
@{
    ViewData["Title"] = "SetUpTwitter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
<h2>Setup Twitter</h2>

<div class="container" style="color:white;text-align:center">
    <div class="col-md-6" style="font-size:larger;margin-left:25%;margin-right:25%">
        <div>
            <h2>
                Enter you Twitter handle below
            </h2>
        </div>
        <div>
            <label asp-for="@Model.Comp.Twitter" class="control-label"></label>
            <input style="text-align:center" asp-for="@Model.Comp.Twitter" class="form-control" />
        </div>
        <div>
            @Html.HiddenFor(x => x.Comp.Id)
            @Html.HiddenFor(x => x.Home.Id)
            @if (Model.Comp.About)
            {
                @Html.HiddenFor(x => x.About.Id)
            }
        </div>
    </div>
    <div>
        <h5  style="margin-top:10%">
            Which pages do you want to display your Twitter feed.
        </h5>
        <label class="control-label">Home</label>
        <input asp-for="@Model.Home.Twitter" class="form-control" />
        @if (Model.Comp.About)
        {
            <label asp-for="@Model.Comp.About" class="control-label"></label>
            <input asp-for="@Model.About.Twitter" class="form-control" />
        }
    </div>
    <button type="submit" class="btn btn-primary">Continue</button>
</div>
}